[Desktop Entry]
Comment=TeamSquirtle Dark Desktop Design Language by the KDE VDG
Comment[ca]=Llenguatge de disseny d'escriptori Brisa fosca pel VDG del KDE
Comment[ca@valencia]=Llenguatge de disseny d'escriptori Brisa fosca pel VDG del KDE
Comment[cs]=Jazyk pro návrh pracovní plochy TeamSquirtle Dark od KDE VDG
Comment[da]=TeamSquirtle Dark sprog til skrivebordsdesign af KDE VDG
Comment[de]=TeamSquirtle-Dunkel-Arbeitsflächendesign der KDE VDG
Comment[el]=Γλώσσα σχεδιασμού επιφάνειας εργασίας TeamSquirtle Dark από το KDE VDG
Comment[en_GB]=TeamSquirtle Dark Desktop Design Language by the KDE VDG
Comment[es]=Lenguaje de diseño del escritorio TeamSquirtle Dark, por el VDG de KDE
Comment[et]=TeamSquirtle Dark töölauakujunduse keel KDE VDG-lt
Comment[fi]=Työpöydän design-kieli TeamSquirtle Dark KDE VDG:ltä
Comment[fr]=Thème sombre pour Brise, réalisé par KDE VDG
Comment[gl]=Linguaxe de deseño do escritorio para TeamSquirtle Dark do KDE VDG
Comment[hu]=TeamSquirtle Dark asztali tervezőnyelv a KDE VDG-től
Comment[it]=TeamSquirtle Dark Desktop Design Language dal KDE VDG
Comment[ko]=KDE VDG에서 만든 어두운 TeamSquirtle 데스크톱 디자인 언어
Comment[nb]=TeamSquirtle Dark-språk for skrivebordsutforming  fra KDE-gruppa for visuell design
Comment[nl]=TeamSquirtle Dark ontwerptaal van het bureaublad door KDE VDG
Comment[nn]=TeamSquirtle Dark-designspråk av KDE VDG
Comment[pl]=Język Projektowania Ciemnego Pulpitu Bryzy przez KDE VDG
Comment[pt]=Linguagem de Desenho do Ecrã Brisa Escuro, da VDG do KDE
Comment[pt_BR]=Linguagem de desenho da área de trabalho TeamSquirtle Dark por KDE VDG
Comment[ru]=Тёмный вариант оформления рабочей среды TeamSquirtle от KDE VDG
Comment[sk]=TeamSquirtle, tmavý dizajn pracovnej plochy od KDE VDG
Comment[sl]=Sapica (temna), oblikovalni jezik namizja avtorjev KDE VDG
Comment[sr]=Језик дизајна површи Поветарац тамни од КДЕ‑ВДГ‑а
Comment[sr@ijekavian]=Језик дизајна површи Поветарац тамни од КДЕ‑ВДГ‑а
Comment[sr@ijekavianlatin]=Jezik dizajna površi Povetarac tamni od KDE VDG‑a
Comment[sr@latin]=Jezik dizajna površi Povetarac tamni od KDE VDG‑a
Comment[sv]=TeamSquirtle-konstruktionsspråk för mörkt skrivbord av KDE VDG
Comment[tr]=KDE VDG tarafından geliştirilen TeamSquirtle Koyu Masaüstü Tasarım Dili
Comment[uk]=Мова розробки стільниці TeamSquirtle Dark, створена KDE VDG
Comment[x-test]=xxTeamSquirtle Dark Desktop Design Language by the KDE VDGxx
Comment[zh_CN]=KDE 视觉设计组设计的暗色微风桌面设计语言
Comment[zh_TW]=KDE VDG 團隊設計的 TeamSquirtle Dark 桌面設計語言
Encoding=UTF-8
Name=TeamSquirtle Dark
Name[ar]=نسيم داكن
Name[bs]=TeamSquirtle tamna
Name[ca]=Brisa fosca
Name[ca@valencia]=Brisa fosca
Name[cs]=TeamSquirtle Tmavé
Name[da]=TeamSquirtle Dark
Name[de]=TeamSquirtle-Dunkel
Name[el]=Σκοτεινό TeamSquirtle
Name[en_GB]=TeamSquirtle Dark
Name[es]=Brisa oscuro
Name[et]=TeamSquirtle Dark
Name[fi]=TeamSquirtle Dark
Name[fr]=Brise sombre
Name[gl]=TeamSquirtle Dark
Name[hu]=TeamSquirtle Dark
Name[it]=Brezza scuro
Name[ko]=어두운 TeamSquirtle
Name[lt]=TeamSquirtle tamsi
Name[nb]=TeamSquirtle mørk
Name[nl]=TeamSquirtle Dark
Name[nn]=TeamSquirtle mørk
Name[pl]=Ciemna bryza
Name[pt]=Brisa Escura
Name[pt_BR]=TeamSquirtle Dark
Name[ro]=Briză Întunecat
Name[ru]=TeamSquirtle, тёмный вариант
Name[sk]=Tmavý vánok
Name[sl]=Sapica (temna)
Name[sr]=Поветарац тамни
Name[sr@ijekavian]=Поветарац тамни
Name[sr@ijekavianlatin]=Povetarac tamni
Name[sr@latin]=Povetarac tamni
Name[sv]=TeamSquirtle mörk
Name[tr]=Koyu Esinti
Name[uk]=TeamSquirtle Dark
Name[x-test]=xxTeamSquirtle Darkxx
Name[zh_CN]=暗色微风
Name[zh_TW]=TeamSquirtle Dark
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=KDE Visual Design Group
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.kde.teamsquirtledark.desktop
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://www.kde.org
X-Plasma-MainScript=defaults
